/*------------------
  Custom Styling for Nuxt transitions
------------------*/

.page-enter-active, .page-leave-active {
  transition: all .3s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  // transform-origin: 50% 50%;
  transform: scale(0.95, 0.95);
}