/*------------------
  Custom Styling for Nuxt transitions
------------------*/

.page-enter-active, .page-leave-active {
  transition: all .2s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}