//$navbar-height: 45px;


//$main-color-dark: #1B1B1D;






/*------------------
  Colors
------------------*/

$colors: (
  primary: #901F3E,
  text: #110E27
);




/*------------------
  Layouts
------------------*/

// Breakpoint for moving the utility bar to the left side
$utility-breakpoint: 992px;

// Width for .utility and .content for larger screens
$utility-width: 280px;
//$content-width: 100% - $utility-width;