@import "variables";
@import "transitions";
@import "section";

body {
  font-family: 'Montserrat', sans-serif;
  color: map-get($colors, dark);//#04031A;
}

.font-handwriting {
  font-family: 'Kalam', cursive;
}


a {
  color: map-get($colors, primary);
}